<ul>
  <li id="bio"><%= link_to 'BIO', bio_path %></li>
  <li id="skills"><%= link_to 'SKILLS', root_path %></li>
  <li id="experience"><%= link_to 'EXPERIENCE', experience_path %></li>
  <li id="microapps"><%= link_to 'MICROAPPS', microapps_path %></li>
  <li id="contact"><%= link_to 'CONTACT', contact_path %></li>
</ul>
